table.gpio {
  border-spacing: 0px;
  margin: 0px auto;
  width: 50%;
  line-height: 1px;
}

table.gpio tr td.col1 {
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;  
}

table.gpio tr td.col2 {
  text-align: right;
  padding-right: 5px;
  padding-left: 10px;
  font-weight: 700;
  width: 20px;   
}

table.gpio tr td.col3 {
  padding-left: 5px;
  padding-right: 10px;
  font-weight: 700;
  width: 20px;
}

table.gpio tr td.col4 {
  padding-left: 10px;
  padding-right: 10px; 
}

table.gpio tr td.revision {
  padding: 15px 0px;
  text-align: center;
}

table.gpio tr td.power {
  background-color: #FF0000;
  color: #fff;
}

table.gpio tr td.power_3V {
  background-color: #FA5858;
  color: #fff;
}

table.gpio tr td.gnd {
  background-color: #000;
  color: #fff;
}

table.gpio tr td.spi {
  background-color: #800080;
  color: #fff;
}

table.gpio tr td.spi {
  background-color: #800080;
  color: #fff;
}

table.gpio tr td.i2c {
  background-color: #2E64FE;
  color: #fff;
}

table.gpio tr td.uart {
  background-color: #FF8000;
  color: #fff;
}

table.gpio tr td.rev1 {
	background-color: #3498db;
	color: #fff;
}

table.gpio tr td.rev2 {
  background-color: #2980b9;
  color: #fff;
}

table.gpio tr td.wpi {
  background-color: #2ecc71;
  color: #fff;
	text-align: center;
	font-weight: 700;
}

table.gpio tr td.topleft {
  border-top-left-radius: 4px;
}

table.gpio tr td.topright {
  border-top-right-radius: 4px;
}

table.gpio tr td.bottomleft {
  border-bottom-left-radius: 4px;
}

table.gpio tr td.bottomright {
  border-bottom-right-radius: 4px;
}

table.gpio tr td.inner {
  width: 30px;
  height: 27px; 
}

table.gpio tr td.left {
  background: url("../images/pinheader.png") no-repeat #272822;
  background-position: left;  
}

table.gpio tr td.right {
  background: url("../images/pinheader.png") no-repeat #272822;
  background-position: right;   
}

/*Button on/off*/

.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #0f9d58; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  border: 2px solid #999999; border-radius: 20px;
  position: absolute; top: 0; bottom: 0; right: 56px;
  -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}